[Unit]
Description=File manager daemon
After=multi-user.target

[Service]
Restart=always
RestartSec=30
WorkingDirectory=/home/neznakomec/PycharmProjects/file_manager_api
ExecStart=gunicorn -w 4 --bind 0.0.0.0:8000 main_app.wsgi

[Install]
WantedBy=multi-user.target